<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Permiso para usar la cámara -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />


    <application
        android:name=".RemysApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemysCake"
        tools:targetApi="31">
        <activity
            android:name=".activities.ListaReservasProductionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SeleccionarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NuevoClienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BuscarClienteActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GestionarClientesSellerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificacionesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CrearEditarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AgregarEditarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReservasProduccionActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MisReservasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CrearReservaActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GenerarReportesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerReservasActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GestionarClientesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GestionarUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GestionarCatalogoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PortadaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProductionDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SellerDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AdminDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>